[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
bs4 = "*"
pandas = "*"
requests = "*"
pydantic = "*"
scraping_helper = {path = ".", editable = true}
ruff = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
